.main {
  min-height: calc(100vh - 9rem);
  background-color: var(--green-primary);
}

.header {
  background-color: var(--dark-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__navbar {
    display: flex;
    justify-content: flex-end;
    &-links {
      display: flex;
      column-gap: 4rem;
      margin-right: 2rem;
      padding: 2rem;

      &--link:link,
      &--link:visited {
        position: relative;
        padding: 1rem 0;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 400ms;
        font-size: 2rem;

        &:hover::after {
          width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 0;
          background-color: #fff;
          bottom: 0;
          left: 0;
          transition: all 400ms;
        }
      }
    }
  }
}

.logo {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  font-family: "Dancing Script";

  &__icon {
    height: 5rem;
    width: 5rem;
  }

  &__title {
    font-size: 3rem;
  }
}

.logo:link,
.logo:visited {
  text-decoration: none;
  color: var(--font-color-primary);
}
