.homeCategories {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  font-size: 2rem;

  &__item:link,
  &__item:visited {
    text-decoration: none;
    color: var(--font-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    transition: all 200ms;

    &:hover {
      translate: 0 -3px;
    }
  }

  &__item {
    &-iconWrapper {
      display: flex;
      background-color: var(--button-color-primary);
      border-radius: 100%;
    }

    &-icon {
      height: 5rem;
      width: 5rem;
      padding: 1.5rem;
    }
  }
}
