@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Playfair+Display&display=swap");

:root {
  --font-primary: "Montserrat";
  --font-secondary: "Open Sans";
  --font-header: "Playfair Display";
  --dark-primary: #180a01; //#1c0a00;
  --button-color-primary: #2e1001;
  --font-color-primary: #f8f8ff;
  --green-primary: rgb(16 29 34); //rgb(44, 54, 57); //#052638
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-primary);
  color: var(--font-color-primary);
  background-color: var(--green-primary);
}
